body {
    background-color: lightblue;
  } 

html {

  font-family: "Lucida Console", "Courier New", monospace;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.top-bar-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em;
  background-color: brown;
}

.top-bar-item {
  max-width: 50%;
  font-size: 2em;
}

.drums-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em, 1em, 3em, 1em ;
  margin: auto;
  flex-wrap: wrap;
  max-width: 80em;
}

.drum-item {
  font-size: 2em;
  padding: 1em;
}

.drum-button {
  padding: 1em;
  font-size: 2em;
  background-color: darkblue;
} 